h1, h2, p {
    text-align: center;
}

body {
   background-image: url(../images/background.jpeg)
}

.menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
}

.flavor {
    text-align: left;
}