h1, h2, p {
    text-align: center;
}

body {
    font-family: sans-serif;
    background-image: url(../images/background.jpeg)
}

h1, h2 {
    font-family: Impact, serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

.established{
    font-style: italic;
}

hr {
    height: 3px;
}

.menu {
    width: 80%;
    max-width: 500px;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.flavor, .dessert {
    text-align: left;
    width: 75%;
}

.price {
    text-align: right;
    width: 25%;
}

.item p {
    display: inline-block;
}